body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.top_area {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}
.top_title {
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;
}
.top_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  margin-bottom: 8px;
}
.top_content h3 {
  margin-top: 1px;
  margin-bottom: 1px;
}
header {
  background-color: #466585;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #2980b9;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 20px;
}

.container {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: white;
}

.title {
  margin: 0;
  padding: 0;
}

article {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}
article p {
  font-size: 20 px;

  text-align: justify;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
li {
  font-size: 20px;

  text-align: justify;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
p {
  font-size: 20px;

  text-align: justify;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  font-family: "Courier New", Courier, monospace;
}

.result {
  margin-bottom: 20px;
}

.result h4 {
  color: darkgrey;
  font-size: 15px;
  margin-top: 10;
  margin-bottom: 10px;
}
.title h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-weight: 500;
}
hr.new3 {
  border-top: 0.5px dotted grey;
  margin-top: 10px;
  margin-bottom: 10px;
}
