@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  display: flex;
}

header {
  min-height: 100vh;
  border: 1px solid #ccc;
}

nav h1 {
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #ccc;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 10px;
  border: 1px solid #ccc;
  color: black;
}

nav ul li:hover {
  background: #ccc;
  transition: 0.3s ease-in-out;
}

main {
  padding: 50px;
  max-width: 1200px;
}

section {
  margin-bottom: 50px;
}

section article {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section h2 {
  font-size: 25px;
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-weight: 400;
}

.steps {
  display: flex;
  color: blue;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  body {
    flex-direction: column;
  }

  header {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

#keyowords {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.showHideBtn {
  font-size: 16px;
  height: 40px;
  width: 300px;
  border: none;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  font-size: 36px;
  margin-top: 20px;
  color: brown;
}

.introduction {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
}

/* Dashed red border */
hr.new2 {
  border-top: 0.5px dashed gray;
}

/* Dotted red border */
hr.new3 {
  border-top: 0.5px dotted grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Thick red border */
hr.new4 {
  border-top: 2px solid gray;
}

/* Large rounded green border */
hr.new5 {
  border: 1px solid gray;
  border-radius: 5px;
}

article {
  font-size: 24px;
  font-weight: 400;
}

article p {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
}

pre code {
  font-size: 20px;
  font-weight: 300;
}
